.header .logo,
.header .welcome-text,
.header .nav {
  position: absolute;
  top: 0;
}

.header {
  height: 120px;
  line-height: 120px;
  position: relative;
  font-size: 16px;
}

.header .logo {
  left: 65px;
}

.header .nav {
  display: flex;
  left: 250px;
}

.header .nav .nav-li {
  color: #3f2863;
  margin: 0 40px;
}

.header .nav .active {
  color: #ff7f21;
}

.layui-nav {
  position: relative;
  padding: 0 20px;
  background-color: #393d49;
  color: #fff;
  border-radius: 2px;
  font-size: 0;
  box-sizing: border-box;
}

.header .header-down-nav {
  display: none;
}
.layui-nav .layui-nav-item {
  display: block;
  padding: 0 20px;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.header .welcome-text {
  right: 50px;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  .menu {
    width: 50px;
    height: 40px;
    position: relative;
    cursor: pointer;

    &::before {
      top: 0px;
      box-shadow: 0 34px #ff7f21;
    }
  }
  .menu.on:before {
    top: 17px;
    box-shadow: none;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .menu.on:after {
    bottom: 17px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .menu:before,
  .menu:after {
    content: "";
    display: block;
    width: 50px;
    height: 6px;
    background: #ff7f21;
    border-radius: 8px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }

  .menu:after {
    bottom: 17px;
  }

  .header .nav,
  .header .welcome-text {
    display: none;
  }

  .header .header-down-nav {
    background: #ff7f21;
  }

  .header .header-down-nav {
    width: 100%;
    position: absolute;
    top: 120px;
    z-index: 2;
    left: 0;
    padding: 0;
    border-radius: 0;
  }
  .header .header-down-nav .layui-nav-item {
    padding: 0 40px;
    font-size: 16px;
    line-height: 60px;
  }
  .header .header-down-nav {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .logo {
      left: 20px;
      top: 15px;
    }

    .nav {
      left: 150px;
    }
  }
}
